<!-- badge search handlebars -->

    <table>
    <thead>
        <th>Name</th>
        <th>Color</th>
    </thead>
    <tbody>
        {{#each badges}}
        <tr>
            <td>{{name}}</td>
            <td>{{color}}</td>
        </tr>
        {{/each}}
    </tbody>
<br>
<p>To visit the pages with data, here are the links:</p>
<a href="/home">Home</a>
<a href="/pokemon">Pokemon</a>
<a href="/trainers">Trainers</a>
<a href="/badges">Badges</a>
<a href="/gyms">Gyms</a>
<a href="/trainers-badges">Trainers-Badges</a>