<!-- gyms handlebars --> 

<h1>Gyms in the Pokedex:</h1>
{{#each obj}}
{{this}}
{{/each}}

<table>
	<thead>
		<th>Name</th>
		<th>Gym Leader</th>
		<th>Gym Badge</th>
	</thead>
	<tbody>
		{{#each pokemon}}
		<tr>
			<td>{{name}}</td>
			<td>{{GymLeader}}</td>
			<td>{{GymBadge}}</td>
			<!-- add button for delete here -->
			<!-- add link to update here -->
		</tr>
		{{/each}}
	</tbody>

	<!-- add form to add a pokemon, if we whish to do so here. -->

</table>