<h1>Welecom to Anthony Tyler Bernero's and Klaus Koster's CS 340 Database project</h1>
<p>Our project is about:</p>

<p>To visit the pages with data, here are the links:</p>
<a href="/pokemon">Pokemon</a>
<a href="/trainers">Trainers</a>
<a href="/badges">Badges</a>
<a href="/gyms">Gyms</a>
<a href="/trainers-badges">Trainers-Badges</a>
<!-- continue links -->