<!-- trainers handlebars -->

<h1>Trainers in the Database:</h1>
<table>
	<thead>
		<th>Name</th>
		<th>Catchphrase</th>
	</thead>
	<tbody>
		{{#each trainers}}
		<tr>
			<td>{{name}}</td>
			<td>{{catchphrase}}</td>
			<!-- add button for delete here -->
			<!-- add link to update here -->
			<td><a href="/trainers/{{id}}">Update Trainer Info</a></td>
		</tr>
		{{/each}}
	</tbody>

	<!-- add form to add a pokemon, if we whish to do so here. -->

</table>
