<!-- trainers handlebars -->

<h1>Trainers and Badge relationships in the Database:</h1>
<table>
	<thead>
		<th>Trainer</th>
		<th>Badge</th>
	</thead>
	<tbody>
		{{#each tb}}
		<tr>
			<td>{{name}}</td>
			<td>{{badge}}</td>
			<!-- add button for delete here -->
			<!-- add link to update here -->
		</tr>
		{{/each}}
	</tbody>

	<!-- add form to add a pokemon, if we whish to do so here. -->

</table>