<!-- trainers handlebars -->

<h1>Trainers in the Database:</h1>
<table>
	<thead>
		<th>Name</th>
		<th>Catchphrase</th>
	</thead>
	<tbody>
		{{#each trainers}}
		<tr>
			<td>{{name}}</td>
			<td>{{catchphrase}}</td>
			<td><button onclick="deleteTrainer({{id}})">Delete</button></td>
			<td><a href="/trainers/{{id}}">Update Trainer Info</a></td>
		</tr>
		{{/each}}
	</tbody>

	<!-- add form to add a pokemon, if we whish to do so here. -->

</table>
