<!-- trainers update handlebars -->

<h1>Update {{trainer.name}}:</h1>
<form id="update-trainers" action="/trainers" method="post">
    Name: <input type="text" name="name" value="{{trainer.name}}"><br>
    Catchphrase: <input type="text" name="catchphrase" value="{{trainer.catchphrase}}"><br>
</form>
<button onclick="updateTrainers({{trainer.id}})">Update</button>