<!-- badge update handlebars -->

<h1>Update {{badge.name}} Badge:</h1>
<h4>Note: After updating information, hit the Update button - DO NOT PRESS ENTER</h4>
<form id="update-badge" action="/badges" method="post">
    Name: <br><br>
	<input type="text" name="name" value="{{badge.name}}"><br>
	<br>
	Color: <br>
    <input type="text" name="color" value="{{badge.color}}"><br>
</form>
<br>
<button onclick="updateBadge({{badge.id}})">Update</button>
<p>To visit the pages with data, here are the links:</p>
<a href="/pokemon">Pokemon</a>
<a href="/trainers">Trainers</a>
<a href="/badges">Badges</a>
<a href="/gyms">Gyms</a>
<a href="/trainers-badges">Trainers-Badges</a>
